body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 100px;
  height: 100vh;
  box-sizing: border-box;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 4%;
}

.hero-left {
  max-width: 800px;
  flex-wrap: wrap;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  border: 1px solid #4DB7F7;
  background-color: #ffffff34;
  border-radius: 999px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: 500;
  box-shadow: 0 0 8px #4DB7F7;
  transition: 0.3s ease;
}

.badge-icon {
  color: #fff;
  font-size: 16px;
}

.greeting span {
  color: #4DB7F7;
  font-size: 24px;
  font-weight: 600;
}

.name {
  font-size: 70px;
  font-weight: 900;
  margin: 10px 0;
}

.dot {
  color: #ffffff;
}

.role {
  font-size: 26px;
  font-weight: 400;
  margin: 20px 0;
  margin-bottom: 40px;
}

.highlight {
  font-size: 20px;
  color: #c1c1c1;
  margin: 0;
}

.company {
  color: #4DB7F7;
}

.btn:hover {
  background-color: #222222;
}

.download-btn {
  margin-top: 40px;
  display: inline-flex;
  padding: 12px 24px;
  background: linear-gradient(90deg, #4DB7F7, #05446a);
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  gap: 6px;
  box-shadow: 0 0 15px rgba(167, 139, 250, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.download-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 25px rgba(192, 132, 252, 0.8);
}

.hero-right .hero-image {
  width: 600px;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
  filter: drop-shadow(0 0 40px rgba(0, 174, 255, 0.35));
  mix-blend-mode: lighten;
  animation: float 3s ease-in-out infinite;


}


@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1400px){
  .hero{
    margin-top: 10%;
  }
}
@media (max-width: 1100px){
  .hero{
    margin-top: 20%;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    margin-top: 15%;
    margin-left: 18%;
    
  }

  .hero-left {
    width: 410px;
  }

  .hero-right .hero-image {
    width: 420px;
    margin-top: 10%;
    
  }

  .name {
    font-size: 60px;
  }

  .role {
    font-size: 22px;
  }

  .highlight {
    font-size: 16px;
  }
}